.header-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 30px 0;
  margin-bottom: 40px;
  .site-branding {
    padding-bottom: 30px;
    .header-img {
      width: 48px;
      &:hover {
        cursor: pointer;
        animation: jelly 0.5s;
      }
    }
    @include breakpoint("tablet") {
      padding-bottom: 0;
    }
  }
  .nav-menu {
    .menu-item {
      padding-right: 32px;
      text-transform: lowercase;
      font-family: $fontBody;
      font-weight: 600;
      font-size: 22px;
      color: $white;
      text-decoration: none;
      transition: 440ms;
      &:last-child {
        padding-right: 0;
      }
      &:hover {
        color: $primaryColor;
      }
    }
  }
  @include breakpoint("tablet") {
    flex-flow: row nowrap;
    justify-content: space-between;
  }
}
