.header-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
  padding: 24px 0;
  .site-branding {
    padding-bottom: 16px;
    a.home-link {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      text-decoration: none;
      .name {
        display: inline-block;
        @include breakpoint("tablet") {
          display: none;
        }
      }
      .header-img {
        width: 48px;
        padding-bottom: 16px;
        @include breakpoint("tablet") {
          padding-bottom: 0;
        }
        &:hover {
          cursor: pointer;
          animation: jelly 0.5s;
        }
      }
    }
    @include breakpoint("tablet") {
      padding-bottom: 0;
    }
  }
  .nav-menu {
    .menu-item {
      padding-right: 32px;
      font-family: $fontBody;
      font-weight: 600;
      font-size: 22px;
      color: $darkAccent;
      text-decoration: none;
      transition: 440ms;
      &:last-child {
        padding-right: 0;
      }
      &:hover {
        color: $primaryColor;
      }
    }
  }
  @include breakpoint("tablet") {
    flex-flow: row nowrap;
    justify-content: space-between;
  }
  @include breakpoint("tablet") {
    margin-bottom: 40px;
  }
}
.header-hr {
  margin-bottom: 40px;
}
