.site-layout {
  margin: 0 auto;
  padding: 0;
  width: 90%;
  .homepage {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    .about,
    .post-grid {
      flex-basis: 50%;
      margin-bottom: 40px;
      @include breakpoint("tablet") {
        margin-bottom: 100px;
      }
    }
    .about {
      position: relative;
      .page-title {
        font-size: 48px;
        color: $darkAccent;
        font-weight: 800;
        @include breakpoint("tablet") {
          font-size: 72px;
        }
      }
      .description {
        max-width: 100%;
        font-size: 20px;
        line-height: 1.5;
        @include breakpoint("tablet") {
          max-width: 85%;
          font-size: 20px;
        }
      }
      @include breakpoint("tablet") {
        position: sticky;
        top: 100px;
      }
    }
    .post-grid {
      display: flex;
      flex-direction: column;
      align-items: center;
      a {
        text-decoration: none;
      }
      .post-card {
        background: $white;
        box-shadow: 2px 2px 8px #d2d2d2, -2px -2px 8px #f7f7f7;
        padding: 24px 24px;
        margin: 8px 0;
        width: 100%;
        transition: $speed;
        &:hover {
          transform: scale(1.1);
          cursor: pointer;
          .post-image img {
            filter: grayscale(0);
          }
          .category {
            color: $primaryColor;
          }
        }
        .post-image {
          display: inline-block;
          padding-bottom: 12px;
          img {
            object-fit: cover;
            max-height: 280px;
            width: 100%;
            filter: grayscale(1);
            transition: $speed;
          }
        }
        .date {
          color: #555;
        }
        .category,
        .date {
          text-transform: uppercase;
          font-weight: 600;
        }
        .post-title {
          font-size: 32px;
          line-height: 32px;
          margin-bottom: 8px;
          text-decoration: none;
        }
        .excerpt {
          font-weight: 400;
        }
      }
    }
    @include breakpoint("tablet") {
      flex-flow: row nowrap;
      justify-content: space-around;
      align-items: flex-start;
    }
  }
  @include breakpoint("tablet") {
    width: 90%;
  }
}
