.single-post-title {
  color: $white;
  margin-bottom: 4px;
}
.author-byline {
  color: $grey;
  margin-bottom: 4px;
  font-weight: 500;
  .author-name {
    color: $white;
  }
}
.date {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 14px;
  color: $white;
}
.content.container {
  .post-content {
    p,
    li {
      font-size: 20px;
      font-weight: 500;
      line-height: 1.5;
    }
  }
}

figure {
  text-align: center;
}

pre {
  display: inline-block;
  margin: 16px auto;
  padding: 24px;
  background: $grey;
  color: $darkAccent;
}

.single-post {
  margin: 80px auto;
  padding: 60px 0;
}
