.post-title-box {
  padding-bottom: 24px;
  .single-post-title {
    color: $white;
    margin-bottom: 4px;
  }
  .post-subtitle {
    font-size: 24px;
  }
}
.post-info {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  padding-bottom: 4px;
  .author {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    .author-byline {
      font-size: 18px;
      color: $white;
      margin-bottom: 0;
      font-weight: 600;
      .author-name {
        color: $grey;
      }
    }
    .author-img img {
      height: 40px;
      margin-right: 8px;
    }
  }
}
.date {
  display: inline-block;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 16px;
  padding-right: 24px;
  color: $white;
  &.sp {
    font-size: 18px;
    text-transform: capitalize;
  }
}
.post-category {
  color: $primaryColor;
  font-weight: 600;
  font-size: 18px;
  text-transform: uppercase;
}
.content.container {
  .post-content {
    p,
    li {
      font-size: 22px;
      font-weight: 500;
      line-height: 1.5;
    }
    .post-code {
      border-radius: $radius-small $radius-small 0 0;
      padding: 24px !important;
      margin-top: 24px;
    }
    .code-filename {
      padding: 12px 24px;
      font-weight: 600;
      font-family: monospace;
      background: $white;
      color: $darkAccent;
      border-radius: 0 0 $radius-small $radius-small;
      margin-bottom: 24px;
    }
  }
}

figure {
  text-align: center;
}

.single-post {
  padding-bottom: 60px;
}
.post-hr {
  width: 100%;
  margin: 24px auto;
  border: 1px solid $grey;
}
.single-post-image {
  display: none;
  margin-bottom: 16px;
  img {
    object-fit: cover;
    width: 100%;
    max-height: 500px;
  }
  @include breakpoint("tablet") {
    display: block;
  }
}
